<template>
  <div>
    <v-alert
      v-if="flash_message"
      :type="flash_message.type"
      :value="flash_message.value"
      class="mb-2"
      transition="slide-y-transition"
    >
      <span>{{ flash_message.message }}</span>
    </v-alert>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    flash_message: {
      get() {
        return this.$store.state.app.flash_message;
      },
      set(flash_message) {
        this.$store.commit("app/setFlashMessage");
      }
    }
  }
};
</script>

<style scoped>
</style>