<template>
  <v-toolbar color="colorOne" dark app :clipped-left="$vuetify.breakpoint.mdAndUp" fixed>
    <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
      <v-layout row>
        <v-toolbar-side-icon v-if="isAuthenticated" @click.stop="changeDrawer"></v-toolbar-side-icon>
        <v-img
          @click="$router.push('/')"
          style="cursor: pointer;"
          :class="{'ml-1': $vuetify.breakpoint.smAndDown, 'ml-4': $vuetify.breakpoint.mdAndUp}"
          :src="require('@/assets/onecarforme_bleu_blanc.png')"
          max-width="80px"
        ></v-img>
      </v-layout>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <h3 v-if="getAuthenticatedUser">{{getAuthenticatedUser.firstName}}</h3>
    <v-tooltip left v-if="isAuthenticated">
      <v-btn icon @click="disconnect" slot="activator">
        <v-icon>power_settings_new</v-icon>
      </v-btn>
      <span>Déconnexion</span>
    </v-tooltip>
  </v-toolbar>
</template>

<script>
import authenticateService from "@/services/authenticate.service";
import { mapGetters, mapMutations } from "vuex";

export default {
  computed: {
    ...mapGetters("auth", ["isAuthenticated", "getAuthenticatedUser"])
  },
  methods: {
    ...mapMutations("app", ["changeDrawer"]),
    disconnect() {
      authenticateService.clearToken();
      this.$router.push("/");
    }
  }
};
</script>

<style>
</style>
