<template>
  <v-navigation-drawer
    fixed
    :clipped="$vuetify.breakpoint.mdAndUp"
    app
    v-model="drawer"
    width="220px"
  >
    <v-list dense>
      <template v-for="item in items">
        <v-list-group
          v-if="item.children && item.show"
          v-model="item.model"
          :key="item.text"
          :prepend-icon="item.model ? item.icon : item['icon-alt']"
          append-icon
        >
          <v-list-tile slot="activator">
            <v-list-tile-content>
              <v-list-tile-title>{{ item.text }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <template v-for="(child, i) in item.children">
            <v-list-tile :to="child.to" :key="i" v-if="child.show">
              <v-list-tile-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ child.text }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list-group>
        <v-list-tile v-else-if="item.show" :key="item.text" :to="item.to">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.text }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import authenticateService from "@/services/authenticate.service";

export default {
  data: () => ({
    items: [
      {
        icon: "keyboard_arrow_up",
        "icon-alt": "keyboard_arrow_down",
        text: "Voitures",
        model: false,
        show: authenticateService.isRoleAdmin(),
        children: [
          {
            icon: "add",
            text: "Créer une voiture",
            to: "/save-car",
            show: authenticateService.isRoleAdmin()
          },
          {
            icon: "directions_car",
            text: "Liste des voitures",
            to: "/cars-list",
            show: authenticateService.isRoleAdmin()
          }
        ]
      },
      {
        icon: "keyboard_arrow_up",
        "icon-alt": "keyboard_arrow_down",
        text: "Utilisateurs",
        model: false,
        show: authenticateService.isRoleAdmin(),
        children: [
          {
            icon: "person_add",
            text: "Créer un utilisateur",
            to: "/save-user",
            show: authenticateService.isRoleAdmin()
          },
          {
            icon: "persons",
            text: "Liste des utilisateurs",
            to: "/users",
            show: authenticateService.isRoleAdmin()
          }
        ]
      },
      {
        icon: "keyboard_arrow_up",
        "icon-alt": "keyboard_arrow_down",
        text: "Emprunts",
        model: false,
        show:
          authenticateService.isRoleAdmin() || authenticateService.isRoleUser(),
        children: [
          {
            icon: "add",
            text: "Créer un emprunt",
            to: "/create-borrowing",
            show: authenticateService.isRoleAdmin()
          },
          {
            icon: "receipt",
            text: "Liste des emprunts",
            to: "/borrowings",
            show: authenticateService.isRoleAdmin()
          },
          {
            icon: "local_taxi",
            text: "Demander un emprunt",
            to: "/request-borrowing",
            show: authenticateService.isRoleUser()
          },
          {
            icon: "list",
            text: "Mes emprunts",
            to: "/my-borrowings",
            show: true
          }
        ]
      }
    ]
  }),
  computed: {
    drawer: {
      get() {
        return this.$store.state.app.drawer;
      },
      set(val) {
        this.$store.commit("app/setDrawer", val);
      }
    }
  }
};
</script>

<style>
</style>
