<template>
  <div>
    <v-data-table
      id="list"
      :headers="headers"
      :items="borrowings"
      no-data-text="Aucuns résultats ne correspond à votre recherche."
      rows-per-page-text="Lignes par pages"
      class="mi-dataTable elevation-1"
      color="info"
      fixed-header
    >
      <template v-slot:items="props">
        <td class="text-xs-center">
          <v-layout align-center justify-center row wrap v-if="props.item.state == STATE.VALIDE">
            <v-icon color="success" class="pr-2">fiber_manual_record</v-icon>
            <span>Validé</span>
          </v-layout>
          <v-layout
            align-center
            justify-center
            row
            wrap
            v-else-if="props.item.state == STATE.AVALIDER"
          >
            <v-icon color="info" class="pr-2">fiber_manual_record</v-icon>
            <span>À valider</span>
          </v-layout>
          <v-layout
            align-center
            justify-center
            row
            wrap
            v-else-if="props.item.state == STATE.ENCOURS"
          >
            <v-icon color="warning" class="pr-2">fiber_manual_record</v-icon>
            <span>En cours</span>
          </v-layout>
          <v-layout
            align-center
            justify-center
            row
            wrap
            v-else-if="props.item.state == STATE.REFUSE"
          >
            <v-icon color="error" class="pr-2">fiber_manual_record</v-icon>
            <span>Refusé</span>
          </v-layout>
          <v-layout
            align-center
            justify-center
            row
            wrap
            v-else-if="props.item.state == STATE.TERMINE"
          >
            <v-icon color="lightgrey" class="pr-2">fiber_manual_record</v-icon>
            <span>Terminé</span>
          </v-layout>
        </td>
        <td class="text-xs-center">{{ props.item.user.lastName + " " + props.item.user.firstName}}</td>
        <td class="text-xs-center">{{ formatDate(props.item.startDate) }}</td>
        <td class="text-xs-center">{{ formatDate(props.item.endDate) }}</td>
        <td class="text-xs-center">{{ props.item.reason }}</td>
        <td class="text-xs-center">
          <v-icon class="mr-2" @click="editItem(props.item)" color="primary">remove_red_eye</v-icon>
        </td>
      </template>
      <template
        v-slot:pageText="props"
      >Ligne {{ props.pageStart }} à {{ props.pageStop }} sur {{props.itemsLength}}</template>
    </v-data-table>
  </div>
</template>

<script>
import moment from "moment";
import constants from "@/constants";

export default {
  props: ["borrowings"],
  data: () => ({
    headers: [
      {
        text: "État",
        align: "center",
        value: "state",
        width: "100px"
      },
      {
        text: "Utilisateur",
        align: "center",
        value: "user",
        width: "100px"
      },
      {
        text: "Date début",
        value: "dateStart",
        align: "center",
        width: "100px"
      },
      {
        text: "Date fin",
        value: "dateEnd",
        align: "center",
        width: "100px"
      },
      {
        text: "Motif",
        value: "reason",
        align: "center",
        width: "100px"
      },
      {
        text: "Consulter",
        width: "50px",
        value: ""
      }
    ]
  }),
  computed: {
    STATE() {
      return constants.State;
    }
  },
  methods: {
    formatDate(date) {
      return moment(date).format("DD/MM/YYYY - HH:mm");
    },
    editItem(item) {
      this.$router.push({ path: "/request-borrowing/" + item.id });
    }
  }
};
</script>

<style>
table {
  table-layout: fixed;
  width: 100%;
}

table td {
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 0px;
}

table thead {
  background-color: var(--v-colorOne-base);
}

th.column,
table thead i.v-icon {
  color: white !important;
}
</style>