<template>
  <v-form v-if="getCurrentBorrowing" v-model="valid">
    <v-container>
      <v-layout row wrap justify-space-between>
        <v-flex lg5 md5 sm12 xs12>
          <v-text-field
            label="*Utilisateur"
            :value="user.lastName + ' ' + user.firstName"
            :rules="userRule"
            disabled
          ></v-text-field>
        </v-flex>
        <v-flex lg5 md5 sm0 xs0></v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-layout row>
            <v-menu
              v-model="startDateMenu"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="startDateFr"
                  label="*Date de départ"
                  prepend-icon="event"
                  readonly
                  clearable
                  v-on="on"
                  :rules="startDateRule"
                  :disabled="(!isRoleAdmin && isModifying) || isENCOURS || isTERMINE"
                  :error-messages="verifyDateStart()"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="startDate"
                @input="startDateMenu = false"
                locale="fr"
                first-day-of-week="1"
                header-color="colorOne"
              ></v-date-picker>
            </v-menu>
            <v-text-field
              class="pl-3"
              label="*Heure"
              type="time"
              v-model="startDateHour"
              :rules="startDateHourRule"
              :disabled="(!isRoleAdmin && isModifying) || isENCOURS || isTERMINE"
            ></v-text-field>
          </v-layout>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-layout row>
            <v-menu
              v-model="endDateMenu"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="endDateFr"
                  :rules="endDateRule"
                  label="*Date de retour"
                  prepend-icon="event"
                  readonly
                  clearable
                  v-on="on"
                  :disabled="(!isRoleAdmin && isModifying) || isTERMINE"
                  :error-messages="verifyDateEnd()"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="endDate"
                @input="endDateMenu = false"
                locale="fr"
                first-day-of-week="1"
                header-color="colorOne"
              ></v-date-picker>
            </v-menu>
            <v-text-field
              class="pl-3"
              label="*Heure"
              type="time"
              v-model="endDateHour"
              :rules="endDateHourRule"
              :disabled="(!isRoleAdmin && isModifying) || isTERMINE"
            ></v-text-field>
          </v-layout>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-text-field
            label="*Adresse de récupération"
            v-model="pickupAddress"
            :rules="pickupAddressRule"
            :disabled="(!isRoleAdmin && isModifying) || isENCOURS || isTERMINE"
          ></v-text-field>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-text-field
            label="*Adresse de retour"
            v-model="returnAddress"
            :rules="returnAddressRule"
            :disabled="(!isRoleAdmin && isModifying) || isENCOURS || isTERMINE"
          ></v-text-field>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-text-field
            label="*Motif"
            v-model="reason"
            :rules="reasonRule"
            :disabled="(!isRoleAdmin && isModifying) || isENCOURS || isTERMINE"
          ></v-text-field>
        </v-flex>
        <v-flex xs12 pb-0>
          <v-textarea
            label="Commentaire"
            v-model="comment"
            outline
            :disabled="(!isRoleAdmin && isModifying) || isENCOURS || isTERMINE"
          ></v-textarea>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12 pt-0 v-if="isModifying">
          <v-radio-group v-model="isValid" row :disabled="!isRoleAdmin || isENCOURS || isTERMINE">
            <v-radio label="Valider la demande" :value="true" color="success"></v-radio>
            <v-radio label="Refuser la demande" :value="false" color="error"></v-radio>
          </v-radio-group>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12 pt-0 v-if="isModifying && isValid">
          <v-layout row>
            <v-autocomplete
              label="*Attribuer une voiture disponible"
              v-model="car"
              :rules="carRule"
              :items="getCarsList"
              :disabled="!isRoleAdmin || isENCOURS || isTERMINE"
            >
              <template
                slot="selection"
                slot-scope="data"
              >{{ data.item.mark }} {{ data.item.model }}</template>
              <template slot="item" slot-scope="data">{{ data.item.mark }} {{ data.item.model }}</template>
            </v-autocomplete>
          </v-layout>
        </v-flex>
        <v-flex lg12 md12 sm12 xs12 pt-0 v-else-if="isModifying && !isValid" :disabled="!isRoleAdmin">
          <v-textarea
            label="* Motif du refus"
            v-model="refusedReason"
            outline
            :rules="reasonRules"
            :disabled="!isRoleAdmin || isENCOURS || isTERMINE"
          >></v-textarea>
        </v-flex>
      </v-layout>
      <v-layout row justify-space-between v-if="isRoleAdmin || !isModifying">
        <v-spacer></v-spacer>
        <v-btn
          @click="saveBorrowing"
          color="success"
          :disabled="!valid || isTERMINE"
          style="text-transform: none;
              font-size: 17px;"
        >
          <v-icon left>check</v-icon>Valider
        </v-btn>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
import Borrowing from "@/objects/Borrowing";
import BorrowingService from "@/services/borrowing.service";
import constants from "@/constants";
import tools from "@/tools";
import moment from "moment";
import { mapMutations, mapGetters } from "vuex";
import authenticateService from "@/services/authenticate.service";

export default {
  data: () => ({
    valid: false,
    startDateMenu: false,
    startDate: null,
    startDateFr: null,
    startDateHour: null,
    endDateMenu: false,
    endDate: null,
    endDateFr: null,
    endDateHour: null,
    // Rules
    startDateRule: [v => !!v || "La date d'emprunt est obligatoire"],
    startDateHourRule: [v => !!v || "L'heure d'emprunt est obligatoire"],
    endDateRule: [v => !!v || "La date de retour est obligatoire"],
    endDateHourRule: [v => !!v || "L'heure de retour est obligatoire"],
    pickupAddressRule: [
      v => !!v || "L'adresse de récupération est obligatoire"
    ],
    returnAddressRule: [v => !!v || "L'adresse de retour est obligatoire"],
    reasonRule: [v => !!v || "Le motif est obligatoire"],
    userRule: [v => !!v || "L'attribution d'un utilisateur est obligatoire"],
    carRule: [v => !!v || "L'attribution d'une voiture est obligatoire"],
    reasonRules: [v => !!v || "Le motif du refus est obligatoire"]
  }),
  created() {
    if (this.borrowingStartDate) {
      this.startDate = moment(this.borrowingStartDate).format("YYYY-MM-DD");
      this.startDateHour = moment(this.borrowingStartDate).format("HH:mm");
    } else {
      this.startDate = moment().format("YYYY-MM-DD");
    }
    if (this.borrowingEndDate) {
      this.endDate = moment(this.borrowingEndDate).format("YYYY-MM-DD");
      this.endDateHour = moment(this.borrowingEndDate).format("HH:mm");
    }
  },
  methods: {
    ...mapMutations("app", ["setFlashMessage"]),
    verifyDateStart() {
      const msg = "La date de départ ne peut être antérieure à la date du jour";

      // Vérification de la date de départ par rapport à la date du jour
      let isDateStartBeforeDay = moment(
        this.startDate + "-" + this.startDateHour,
        "YYYY-MM-DD-hh:mm"
      ).isBefore(moment());

      // Si la date du départ est antérieure à la date du jour alors on retourne le message d'erreur
      if (
        this.startDate &&
        this.startDateHour &&
        isDateStartBeforeDay &&
        !this.isENCOURS &&
        !this.isTERMINE
      ) {
        return msg;
      }

      return "";
    },
    verifyDateEnd() {
      const msg =
        "La date et l'heure de retour doivent êtres postérieures à celles de départ";

      // Vérification de la date de départ par rapport à la date de retour
      let isDateStartBeforeEnd = moment(
        this.startDate + "-" + this.startDateHour,
        "YYYY-MM-DD-hh:mm"
      ).isBefore(
        moment(this.endDate + "-" + this.endDateHour, "YYYY-MM-DD-hh:mm")
      );

      // Si la date de retour est antérieur à la date de départ on retourne le message d'erreur
      if (
        this.startDate &&
        this.startDateHour &&
        this.endDate &&
        this.endDateHour &&
        !isDateStartBeforeEnd &&
        !this.isENCOURS &&
        !this.isTERMINE
      ) {
        return msg;
      } else {
        return "";
      }
    },
    async saveBorrowing() {
      try {
        this.borrowingStartDate = this.startDate + " " + this.startDateHour;
        this.borrowingEndDate = this.endDate + " " + this.endDateHour;

        await this.$store.dispatch("borrowing/saveCurrentBorrowing");
        this.setFlashMessage({
          message: "Emprunt enregistré avec succès !",
          type: "success",
          value: true
        });
        this.$router.push("/");
      } catch (error) {
        this.setFlashMessage({
          message: "Erreur d'enregistrement de l'emprunt !",
          type: "error",
          value: true
        });
      }
    }
  },
  watch: {
    startDate(value) {
      this.startDateFr = tools.formatDateFr(value);
    },
    endDate(value) {
      this.endDateFr = tools.formatDateFr(value);
    },
    isValid(value) {
      if (value) {
        this.state = this.STATE.VALIDE;
      } else {
        this.state = this.STATE.REFUSE;
      }
    }
  },
  computed: {
    ...mapGetters("user", ["getUsersList"]),
    ...mapGetters("car", ["getCarsList"]),
    ...mapGetters("borrowing", [
      "getCurrentBorrowing",
      "getCurrentBorrowingState"
    ]),
    STATE() {
      return constants.State;
    },
    user: {
      get() {
        return this.$store.state.borrowing.currentBorrowing.user;
      },
      set(value) {
        return this.$store.commit("borrowing/setUser", value);
      }
    },
    borrowingStartDate: {
      get() {
        return this.$store.state.borrowing.currentBorrowing.startDate;
      },
      set(value) {
        return this.$store.commit("borrowing/setStartDate", value);
      }
    },
    borrowingEndDate: {
      get() {
        return this.$store.state.borrowing.currentBorrowing.endDate;
      },
      set(value) {
        return this.$store.commit("borrowing/setEndDate", value);
      }
    },
    car: {
      get() {
        return this.$store.state.borrowing.currentBorrowing.car;
      },
      set(value) {
        return this.$store.commit("borrowing/setCar", value);
      }
    },
    pickupAddress: {
      get() {
        return this.$store.state.borrowing.currentBorrowing.pickupAddress;
      },
      set(value) {
        return this.$store.commit("borrowing/setPickupAddress", value);
      }
    },
    returnAddress: {
      get() {
        return this.$store.state.borrowing.currentBorrowing.returnAddress;
      },
      set(value) {
        return this.$store.commit("borrowing/setReturnAddress", value);
      }
    },
    state: {
      get() {
        return this.$store.state.borrowing.currentBorrowing.state;
      },
      set(value) {
        return this.$store.commit("borrowing/setState", value);
      }
    },
    reason: {
      get() {
        return this.$store.state.borrowing.currentBorrowing.reason;
      },
      set(value) {
        return this.$store.commit("borrowing/setReason", value);
      }
    },
    comment: {
      get() {
        return this.$store.state.borrowing.currentBorrowing.comment;
      },
      set(value) {
        return this.$store.commit("borrowing/setComment", value);
      }
    },
    refusedReason: {
      get() {
        return this.$store.state.borrowing.currentBorrowing.refusedReason;
      },
      set(value) {
        return this.$store.commit("borrowing/setRefusedReason", value);
      }
    },
    isValid: {
      get() {
        return this.$store.state.borrowing.currentBorrowing.valid;
      },
      set(value) {
        return this.$store.commit("borrowing/setIsValid", value);
      }
    },
    isRoleAdmin() {
      return authenticateService.isRoleAdmin();
    },
    isModifying() {
      return this.getCurrentBorrowing.id > 0;
    },
    isVALIDE() {
      return this.getCurrentBorrowingState == this.STATE.VALIDE;
    },
    isAVALIDER() {
      return this.getCurrentBorrowingState == this.STATE.AVALIDER;
    },
    isENCOURS() {
      return this.getCurrentBorrowingState == this.STATE.ENCOURS;
    },
    isREFUSE() {
      return this.getCurrentBorrowingState == this.STATE.REFUSE;
    },
    isTERMINE() {
      return this.getCurrentBorrowingState == this.STATE.TERMINE;
    }
  }
};
</script>

<style scoped>
</style>