<template>
  <v-form v-model="valid">
    <v-container>
      <v-layout row wrap justify-space-between>
        <v-flex lg5 md5 sm12 xs12>
          <v-text-field
            label="*Adresse de récupération"
            v-model="pickupAddress"
            :rules="pickupAddressRule"
          ></v-text-field>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-text-field
            label="*Adresse de retour"
            v-model="returnAddress"
            :rules="returnAddressRule"
          ></v-text-field>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-text-field label="*Motif" v-model="reason" :rules="reasonRule"></v-text-field>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-layout row v-if="getCarsList">
            <v-autocomplete
              label="*Attribuer une voiture disponible"
              v-model="car"
              :rules="carRule"
              :items="getCarsList"
            >
              <template
                slot="selection"
                slot-scope="data"
              >{{ data.item.mark }} {{ data.item.model }}</template>
              <template slot="item" slot-scope="data">{{ data.item.mark }} {{ data.item.model }}</template>
            </v-autocomplete>
          </v-layout>
        </v-flex>
        <v-flex xs12>
          <v-textarea label="Commentaire" v-model="comment" outline></v-textarea>
        </v-flex>
      </v-layout>
    </v-container>
    <v-layout row justify-space-between wrap>
      <v-spacer></v-spacer>
      <v-btn
        @click="$emit('previous')"
        color="info"
        style="text-transform: none;
              font-size: 17px;"
      >
        <v-icon left>arrow_back</v-icon>Précédent
      </v-btn>
      <v-btn
        @click="saveBorrowing"
        color="success"
        :disabled="!valid"
        style="text-transform: none;
              font-size: 17px;"
      >
        <v-icon left>check</v-icon>Créer l'emprunt
      </v-btn>
    </v-layout>
  </v-form>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import constants from "@/constants";

export default {
  data: () => ({
    valid: false,
    // Rules
    pickupAddressRule: [
      v => !!v || "L'adresse de récupération est obligatoire"
    ],
    returnAddressRule: [v => !!v || "L'adresse de retour est obligatoire"],
    reasonRule: [v => !!v || "Le motif est obligatoire"],
    carRule: [v => !!v || "L'attribution d'une voiture est obligatoire"]
  }),
  methods: {
    ...mapMutations("app", ["setFlashMessage"]),
    async saveBorrowing() {
      try {
        this.isValid = true;
        await this.$store.dispatch("borrowing/saveCurrentBorrowing");
        this.setFlashMessage({
          message: "Emprunt créé avec succès !",
          type: "success",
          value: true
        });
        this.$router.push("/borrowings");
      } catch (error) {
        this.setFlashMessage({
          message: "Erreur de création de l'emprunt",
          type: "error",
          value: true
        });
      }
    }
  },
  computed: {
    ...mapGetters("car", ["getCarsList"]),
    car: {
      get() {
        return this.$store.state.borrowing.currentBorrowing.car;
      },
      set(value) {
        return this.$store.commit("borrowing/setCar", value);
      }
    },
    pickupAddress: {
      get() {
        return this.$store.state.borrowing.currentBorrowing.pickupAddress;
      },
      set(value) {
        return this.$store.commit("borrowing/setPickupAddress", value);
      }
    },
    returnAddress: {
      get() {
        return this.$store.state.borrowing.currentBorrowing.returnAddress;
      },
      set(value) {
        return this.$store.commit("borrowing/setReturnAddress", value);
      }
    },
    state: {
      get() {
        return this.$store.state.borrowing.currentBorrowing.state;
      },
      set(value) {
        return this.$store.commit("borrowing/setState", value);
      }
    },
    reason: {
      get() {
        return this.$store.state.borrowing.currentBorrowing.reason;
      },
      set(value) {
        return this.$store.commit("borrowing/setReason", value);
      }
    },
    comment: {
      get() {
        return this.$store.state.borrowing.currentBorrowing.comment;
      },
      set(value) {
        return this.$store.commit("borrowing/setComment", value);
      }
    },
    isValid: {
      get() {
        return this.$store.state.borrowing.currentBorrowing.valid;
      },
      set(value) {
        return this.$store.commit("borrowing/setIsValid", value);
      }
    }
  }
};
</script>

<style>
</style>