<template>
  <v-form v-model="valid" ref="partOneForm">
    <v-container>
      <v-layout row wrap justify-space-between>
        <v-flex lg5 md5 sm12 xs12>
          <v-layout row>
            <v-menu
              v-model="startDateMenu"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="startDateFr"
                  label="*Date de départ"
                  prepend-icon="event"
                  readonly
                  clearable
                  v-on="on"
                  :rules="startDateRule"
                  :error-messages="verifyDateStart()"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="startDate"
                @input="startDateMenu = false"
                locale="fr"
                first-day-of-week="1"
                header-color="colorOne"
              ></v-date-picker>
            </v-menu>
            <v-text-field
              class="pl-3"
              label="*Heure"
              type="time"
              v-model="startDateHour"
              :rules="startDateHourRule"
            ></v-text-field>
          </v-layout>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-layout row>
            <v-menu
              v-model="endDateMenu"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="endDateFr"
                  :rules="endDateRule"
                  label="*Date de retour"
                  prepend-icon="event"
                  readonly
                  clearable
                  v-on="on"
                  :error-messages="verifyDateEnd()"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="endDate"
                @input="endDateMenu = false"
                locale="fr"
                first-day-of-week="1"
                header-color="colorOne"
              ></v-date-picker>
            </v-menu>
            <v-text-field
              class="pl-3"
              label="*Heure"
              type="time"
              v-model="endDateHour"
              :rules="endDateHourRule"
            ></v-text-field>
          </v-layout>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-autocomplete
            label="*Utilisateur"
            v-model="user"
            :rules="userRule"
            :items="getUsersList"
          >
            <template
              slot="selection"
              slot-scope="data"
            >{{ data.item.firstName }} {{ data.item.lastName }}</template>
            <template
              slot="item"
              slot-scope="data"
            >{{ data.item.firstName }} {{ data.item.lastName }}</template>
          </v-autocomplete>
        </v-flex>
      </v-layout>
    </v-container>
    <v-layout row justify-space-between>
      <v-spacer></v-spacer>
      <v-btn
        @click="validate"
        color="success"
        :disabled="!valid"
        style="text-transform: none;
        font-size: 17px;"
      >
        <v-icon left>check</v-icon>Continuer
      </v-btn>
    </v-layout>
  </v-form>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";
import moment from "moment";
import tools from "@/tools";

export default {
  data: () => ({
    valid: false,
    startDateMenu: false,
    startDate: moment().format("YYYY-MM-DD"), // Date du jour EN
    startDateFr: tools.formatDateFr(moment().format("YYYY-MM-DD")), // Date du jour FR
    startDateHour: null,
    endDateMenu: false,
    endDate: null,
    endDateFr: null,
    endDateHour: null,
    // Rules
    userRule: [v => !!v || "L'attribution d'un utilisateur est obligatoire"],
    startDateRule: [v => !!v || "La date d'emprunt est obligatoire"],
    startDateHourRule: [v => !!v || "L'heure d'emprunt est obligatoire"],
    endDateRule: [v => !!v || "La date de retour est obligatoire"],
    endDateHourRule: [v => !!v || "L'heure de retour est obligatoire"]
  }),
  mounted() {
    if (this.$refs.partOneForm) {
      this.$refs.partOneForm.resetValidation();
    }
  },
  methods: {
    async validate() {
      try {
        this.borrowingStartDate = this.startDate + " " + this.startDateHour;
        this.borrowingEndDate = this.endDate + " " + this.endDateHour;
        await this.$store.dispatch("car/collectCarsList");
        this.$emit("continue");
      } catch (error) {
        console.error(error);
      }
    },
    verifyDateStart() {
      const msg = "La date de départ ne peut être antérieure à la date du jour";

      // Vérification de la date de départ par rapport à la date du jour
      let isDateStartBeforeDay = moment(
        this.startDate + "-" + this.startDateHour,
        "YYYY-MM-DD-hh:mm"
      ).isBefore(moment());

      // Si la date du départ est antérieure à la date du jour alors on retourne le message d'erreur
      if (this.startDate && this.startDateHour && isDateStartBeforeDay) {
        return msg;
      }

      return "";
    },
    verifyDateEnd() {
      const msg =
        "La date et l'heure de retour doivent êtres postérieures à celles de départ";

      // Vérification de la date de départ par rapport à la date de retour
      let isDateStartBeforeEnd = moment(
        this.startDate + "-" + this.startDateHour,
        "YYYY-MM-DD-hh:mm"
      ).isBefore(
        moment(this.endDate + "-" + this.endDateHour, "YYYY-MM-DD-hh:mm")
      );

      // Si la date de retour est antérieur à la date de départ on retourne le message d'erreur
      if (
        this.startDate &&
        this.startDateHour &&
        this.endDate &&
        this.endDateHour &&
        !isDateStartBeforeEnd
      ) {
        return msg;
      } else {
        return "";
      }
    }
  },
  watch: {
    startDate(value) {
      this.startDateFr = tools.formatDateFr(value);
    },
    endDate(value) {
      this.endDateFr = tools.formatDateFr(value);
    }
  },
  computed: {
    ...mapGetters("user", ["getUsersList"]),
    user: {
      get() {
        return this.$store.state.borrowing.currentBorrowing.user;
      },
      set(value) {
        return this.$store.commit("borrowing/setUser", value);
      }
    },
    borrowingStartDate: {
      get() {
        return this.$store.state.borrowing.currentBorrowing.startDate;
      },
      set(value) {
        return this.$store.commit("borrowing/setStartDate", value);
      }
    },
    borrowingEndDate: {
      get() {
        return this.$store.state.borrowing.currentBorrowing.endDate;
      },
      set(value) {
        return this.$store.commit("borrowing/setEndDate", value);
      }
    }
  }
};
</script>

<style>
</style>