<template>
  <v-layout id="Authentication">
    <v-flex class="text-xs-center">
      <v-card max-width="500px" class="center">
        <v-layout row wrap justify-center class="mb-0">
          <v-img :src="require('@/assets/onecarforme_blue.jpg')" max-width="250px"></v-img>
        </v-layout>
        <v-card-title class="mt-0 pt-0">
          <v-icon large>lock</v-icon>
          <h2 class="ml-3 pt-1">Authentification</h2>
        </v-card-title>
        <v-card-text>
          <v-form v-model="valid">
            <v-text-field
              label="Utilisateur"
              :rules="loginRules"
              prepend-icon="person"
              v-model="LoginVM.username"
            ></v-text-field>
            <v-text-field
              label="Mot de passe"
              :rules="passwordRules"
              prepend-icon="lock"
              v-model="LoginVM.password"
              type="password"
            ></v-text-field>
            <v-alert
              v-model="showAlert"
              type="error"
              outline
              transition="scroll-y-transition"
            >Mauvais utilisateur ou mot de passe</v-alert>
            <v-checkbox label="Se souvenir de moi" v-model="LoginVM.rememberMe"></v-checkbox>
            <v-layout row justify-space-between>
              <v-spacer></v-spacer>
              <v-btn
                color="success"
                @click="authenticateUser"
                type="submit"
                :disabled="!valid"
                style="text-transform: none;
                font-size: 17px;"
              >
                <v-icon left>lock_open</v-icon>S'identifier
              </v-btn>
            </v-layout>
          </v-form>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import authenticateService from "@/services/authenticate.service.js";

export default {
  data: () => ({
    LoginVM: {
      username: null,
      password: null,
      rememberMe: false,
      inAuthentication: false,
      longinBtnText: "",
      loginInText: "S'identifier",
      loginLoadingText: "Connexion..."
    },
    loginRules: [v => !!v || "Lidentifiant est obligatoire"],
    passwordRules: [v => !!v || "Le mot de passe est obligatoire"],
    valid: false,
    showAlert: false
  }),
  mounted() {
    this.longinBtnText = this.loginInText;
  },
  methods: {
    async authenticateUser() {
      try {
        // Changement d'état du bouton d'authentification
        this.valid = false;
        this.longinBtnText = this.loginLoadingText;
        // Demande d'authentification au back
        this.inAuthentication = true;

        let isAuthenticate = await authenticateService.authenticateUser(
          this.LoginVM
        );
        await this.$store.dispatch("auth/collectAuthenticatedUser");

        if (isAuthenticate) {
          if (authenticateService.isRoleAdmin()) {
            this.$router.push("/borrowings");
          } else {
            this.$router.push("/my-borrowings");
          }
        }
        this.inAuthentication = false;
      } catch (error) {
        this.showAlert = true;
        var context = this;
        setTimeout(function() {
          context.showAlert = false;
        }, 3000);
        console.error(error);
      } finally {
        this.valid = true;
        this.longinBtnText = this.loginInText;
      }
    }
  }
};
</script>

<style>
.center {
  margin: auto;
  border: 3px solid green;
  padding: 10px;
}
</style>
