<template>
  <div id="CarListPage">
    <h1 class="mb-2" align="center">
      <v-icon large class="mr-2">directions_car</v-icon>Liste des voitures
    </h1>
    <v-slide-y-transition>
      <car-quick-search class="mb-4" v-if="isQuickSearch"></car-quick-search>
    </v-slide-y-transition>
    <car-list-form></car-list-form>
  </div>
</template>

<script>
import carListForm from "@/components/forms/car_list/CarListForm";
import carQuickSearch from "@/components/forms/car_list/CarQuickSearch";

export default {
  data: () => ({
    isQuickSearch: true,
    isAdvancedSearch: false,
    btnTitle: "Recherche avancée"
  }),
  components: { carListForm, carQuickSearch }
};
</script>

<style>
table.v-table tbody td:first-child,
table.v-table tbody td:not(:first-child),
table.v-table tbody th:first-child,
table.v-table tbody th:not(:first-child),
table.v-table thead td:first-child,
table.v-table thead td:not(:first-child),
table.v-table thead th:first-child,
table.v-table thead th:not(:first-child) {
  padding: 0 10px;
}
</style>
