<template>
  <div id="CreateBorrowingPage">
    <h1 align="center" class="mb-3">
      <v-icon large class="mr-2">emoji_transportation</v-icon>Créer un emprunt
    </h1>
    <v-stepper v-model="step" v-if="getCurrentBorrowing">
      <v-stepper-header>
        <v-stepper-step :complete="step > 1" step="1">Choix des dates</v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :complete="step > 2" step="2">Attribuer un véhicule</v-stepper-step>
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content step="1">
          <part-one @continue="step = 2"></part-one>
        </v-stepper-content>

        <v-stepper-content step="2">
          <part-two @previous="step = 1"></part-two>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </div>
</template>

<script>
import PartOne from "@/components/forms/borrowing/PartOneForm";
import PartTwo from "@/components/forms/borrowing/PartTwoForm";
import Borrowing from "@/objects/Borrowing";
import { mapGetters } from "vuex";
import constants from "@/constants";

export default {
  data: () => ({
    step: 0
  }),
  components: {
    "part-one": PartOne,
    "part-two": PartTwo
  },
  async mounted() {
    try {
      let users = await this.$store.dispatch("user/collectUsersList");
      this.$store.commit("borrowing/setCurrentBorrowing", new Borrowing());
      this.$store.commit("borrowing/setState", constants.State.VALIDE);
    } catch (error) {
      console.error(error);
    }
  },
  async beforeDestroy() {
    this.$store.commit("borrowing/setCurrentBorrowing", null);
  },
  computed: {
    ...mapGetters("borrowing", ["getCurrentBorrowing"])
  }
};
</script>

<style scoped>
</style>