<template>
  <div id="MyBorrowingsPage">
    <h1 align="center" class="mb-3">
      <v-icon large class="mr-2">list</v-icon>Mes emprunts
    </h1>
    <v-tabs color="#474747" dark v-model="tab" show-arrows>
      <v-tab>Tout</v-tab>
      <v-tab>A valider ({{AVALIDERborrowings.length}})</v-tab>
      <v-tab>Validés ({{VALIDEborrowings.length}})</v-tab>
      <v-tab>Refusés ({{REFUSEborrowings.length}})</v-tab>
      <v-tab>En cours ({{ENCOURSborrowings.length}})</v-tab>
      <v-tab>Terminés</v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab" touchless>
      <v-tab-item>
        <borrowing-list :borrowings="getUserBorrowingList"></borrowing-list>
      </v-tab-item>
      <v-tab-item>
        <borrowing-list :borrowings="AVALIDERborrowings"></borrowing-list>
      </v-tab-item>
      <v-tab-item>
        <borrowing-list :borrowings="VALIDEborrowings"></borrowing-list>
      </v-tab-item>
      <v-tab-item>
        <borrowing-list :borrowings="REFUSEborrowings"></borrowing-list>
      </v-tab-item>
      <v-tab-item>
        <borrowing-list :borrowings="ENCOURSborrowings"></borrowing-list>
      </v-tab-item>
      <v-tab-item>
        <borrowing-list :borrowings="TERMINEborrowings"></borrowing-list>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import BorrowingListForm from "@/components/forms/borrowing/BorrowingListForm";
import { mapGetters } from "vuex";
import constants from "@/constants";

export default {
  data: () => ({
    tab: null
  }),
  mounted() {
    this.$store.dispatch(
      "borrowing/collectUserBorrowingsList",
      this.getAuthenticatedUser.id
    );
  },
  computed: {
    ...mapGetters("borrowing", ["getUserBorrowingList"]),
    ...mapGetters("auth", ["getAuthenticatedUser"]),
    AVALIDERborrowings() {
      return this.getUserBorrowingList.filter(function(borrowing) {
        return borrowing.state == constants.State.AVALIDER;
      });
    },
    ENCOURSborrowings() {
      return this.getUserBorrowingList.filter(function(borrowing) {
        return borrowing.state == constants.State.ENCOURS;
      });
    },
    REFUSEborrowings() {
      return this.getUserBorrowingList.filter(function(borrowing) {
        return borrowing.state == constants.State.REFUSE;
      });
    },
    VALIDEborrowings() {
      return this.getUserBorrowingList.filter(function(borrowing) {
        return borrowing.state == constants.State.VALIDE;
      });
    },
    TERMINEborrowings() {
      return this.getUserBorrowingList.filter(function(borrowing) {
        return borrowing.state == constants.State.TERMINE;
      });
    }
  },
  components: {
    "borrowing-list": BorrowingListForm
  }
};
</script>

<style>
</style>