<template>
  <v-container fill-height id="NotFoundPage">
    <v-content>
      <v-layout align-center justify-center>
        <h1>
          <v-icon large color="error" class="mr-2">cancel</v-icon>Erreur 404
        </h1>
      </v-layout>
      <v-layout align-center justify-center>
        <h2>La page demandée est introuvable</h2>
      </v-layout>
    </v-content>
  </v-container>
</template>

<script>
export default {};
</script>

<style>
</style>
