<template>
  <div id="RequestBorrowingPage">
    <h1 align="center" class="mb-3" v-if="getCurrentBorrowing && getCurrentBorrowingState">
      <span v-if="!$route.params.id">
        <v-icon large class="mr-2">local_taxi</v-icon>Demander un emprunt
      </span>
      <span v-else-if="borrowingState === STATE.AVALIDER">
        <v-icon large class="mr-2" color="info">fiber_manual_record</v-icon>Consulter une demande d'emprunt à valider
      </span>
      <span v-else-if="borrowingState === STATE.VALIDE">
        <v-icon large class="mr-2" color="success">fiber_manual_record</v-icon>Consulter une demande d'emprunt validée
      </span>
      <span v-else-if="borrowingState === STATE.REFUSE">
        <v-icon large class="mr-2" color="error">fiber_manual_record</v-icon>Consulter une demande d'emprunt refusée
      </span>
      <span v-else-if="borrowingState === STATE.ENCOURS">
        <v-icon large class="mr-2" color="warning">fiber_manual_record</v-icon>Consulter une demande d'emprunt en cours
      </span>
      <span v-else-if="borrowingState === STATE.TERMINE">
        <v-icon large class="mr-2" color="lightgrey">fiber_manual_record</v-icon>Consulter une demande d'emprunt terminée
      </span>
    </h1>
    <borrowing-form v-if="getCurrentBorrowing && getCurrentBorrowing.user"></borrowing-form>
  </div>
</template>

<script>
import BorrowingForm from "@/components/forms/borrowing/BorrowingForm";
import constants from "@/constants";
import Borrowing from "@/objects/Borrowing";
import { mapGetters } from "vuex";
export default {
  data: () => ({
    borrowingState: null
  }),
  async mounted() {
    try {
      await this.$store.dispatch("car/collectCarsList");

      // Récupération de l'emprunt si un id est présent dans l'url sinon on en initialise un nouveaux
      if (this.$route.params.id) {
        await this.$store.dispatch(
          "borrowing/collectCurrentBorrowing",
          this.$route.params.id
        );
      } else {
        // Sinon on en créer un vide avec le statut à valider
        this.$store.commit("borrowing/setCurrentBorrowing", new Borrowing());
        this.$store.commit("borrowing/setState", constants.State.AVALIDER);
        this.$store.commit(
          "borrowing/setUser",
          this.$store.getters["auth/getAuthenticatedUser"]
        );
      }

      this.borrowingState = this.getCurrentBorrowingState;
    } catch (error) {
      console.error(error);
    }
  },
  async beforeDestroy() {
    this.$store.commit("borrowing/setCurrentBorrowing", null);
  },
  computed: {
    ...mapGetters("borrowing", [
      "getCurrentBorrowing",
      "getCurrentBorrowingState"
    ]),
    STATE() {
      return constants.State;
    }
  },
  components: {
    "borrowing-form": BorrowingForm
  }
};
</script>

<style>
</style>