<template>
  <div id="SaveUserPage">
    <h1 align="center">
      <i class="material-icons" style="size='34px;'">perm_identity</i>
      {{title}}
    </h1>
    <app-userForm></app-userForm>
  </div>
</template>

<script>
import userForm from "@/components/forms/UserForm";
import User from "@/objects/User";

export default {
  async mounted() {
    // Récupération de la voiture si un id est présent dans l'url sinon on en initialise une nouvelle
    if (this.$route.params.login) {
      try {
        await this.$store.dispatch(
          "user/collectCurrentUser",
          this.$route.params.login
        );
      } catch (error) {
        console.error(error);
      }
    } else {
      this.$store.commit("user/setCurrentUser", new User());
    }
  },
  async beforeDestroy() {
    this.$store.commit("user/setCurrentUser", null);
  },
  computed: {
    title() {
      return this.$route.params.id
        ? "Modifier un utilisateur"
        : "Créer un utilisateur";
    }
  },
  components: {
    "app-userForm": userForm
  }
};
</script>

<style>
</style>