<template>
  <div id="SaveCarPage">
    <h1 align="center">
      <v-icon large class="mr-2">add</v-icon>
      {{title}}
    </h1>
    <app-carForm></app-carForm>
  </div>
</template>

<script>
import carForm from "@/components/forms/CarForm";
import Car from "@/objects/Car";

export default {
  async mounted() {
    // Récupération de la voiture si un id est présent dans l'url sinon on en initialise une nouvelle
    if (this.$route.params.id) {
      try {
        await this.$store.dispatch(
          "car/collectCurrentCar",
          this.$route.params.id
        );
      } catch (error) {
        console.error(error);
      }
    } else {
      this.$store.commit("car/setCurrentCar", new Car());
    }
  },
  async beforeDestroy() {
    this.$store.commit("car/setCurrentCar", null);
  },
  computed: {
    title() {
      return this.$route.params.id
        ? "Modifier une voiture"
        : "Créer une voiture";
    }
  },
  components: {
    "app-carForm": carForm
  }
};
</script>

<style>
</style>
