<template>
  <div id="UserListPage">
    <h1 class="mb-2" align="center">
      <v-icon large class="mr-2" color="blue darken-2">people</v-icon>Liste des utilisateurs
    </h1>
    <v-data-table
      id="list"
      :headers="headers"
      :items="usersList"
      no-data-text="Aucuns résultats ne correspond à votre recherche."
      rows-per-page-text="Lignes par pages"
    >
      <template v-slot:items="props">
        <td class="text-xs-center">
          <v-badge>
            <template v-if="isAdmin(props.item)" v-slot:badge>
              <v-icon color="white">stars</v-icon>
            </template>
            <v-chip>{{ props.item.login }}</v-chip>
          </v-badge>
        </td>
        <td class="text-xs-center">{{ props.item.firstName }} {{ props.item.lastName }}</td>
        <td class="text-xs-center">{{ props.item.email }}</td>
        <td class="text-xs-center">{{ props.item.city }}</td>
        <td class="text-xs-center">{{ props.item.cp }}</td>
        <td class="text-xs-center">
          <v-icon class="mr-2" @click="editItem(props.item)" color="primary">edit</v-icon>
          <v-icon @click="deleteItem(props.item)" color="error">delete</v-icon>
        </td>
      </template>
      <template
        v-slot:pageText="props"
      >Ligne {{ props.pageStart }} à {{ props.pageStop }} sur {{props.itemsLength}}</template>
    </v-data-table>
  </div>
</template>

<script>
import UserService from "@/services/user.service";
import { mapMutations } from "vuex";

export default {
  data() {
    return {
      headers: [
        {
          text: "Login",
          align: "center",
          value: "login",
          width: "150px"
        },
        {
          text: "Nom et prénom",
          align: "center",
          value: "last_name",
          width: "100px"
        },
        {
          text: "E-mail",
          value: "email",
          align: "center",
          width: "100px"
        },
        {
          text: "Ville",
          value: "city",
          align: "center",
          width: "100px"
        },
        {
          text: "Code Postal",
          value: "cp",
          align: "center",
          width: "100px"
        },
        {
          text: "Actions",
          value: "user_action",
          sortable: false,
          align: "center",
          width: "100px"
        }
      ]
    };
  },
  computed: {
    usersList: {
      get() {
        return this.$store.state.user.usersList;
      },
      set(value) {
        return this.$store.commit("user/setUsersList", value);
      }
    }
  },
  mounted() {
    UserService.getListUsers()
      .then(response => {
        this.usersList = response.data;
      })
      .catch(exception => {
        console.error(exception);
      });
  },
  methods: {
    ...mapMutations("app", ["setFlashMessage"]),
    editItem(item) {
      this.$router.push({ path: "/save-user/" + item.login });
    },
    async deleteItem(item) {
      if (confirm("Etes-vous sûr de vouloir supprimer cet élément ?")) {
        const index = this.usersList.indexOf(item);
        try {
          await UserService.deleteUser(item.login);
          this.setFlashMessage({
            message: "Utilisateur supprimé avec succès !",
            type: "success",
            value: true
          });
          this.usersList.splice(index, 1);
        } catch (ex) {
          console.error(ex);
          this.setFlashMessage({
            message: "Problème de suppression : " + ex,
            type: "error",
            value: true
          });
        }
      }
    },
    isAdmin(user) {
      return user.authorities.indexOf(process.env.ROLES.admin) > -1;
    }
  }
};
</script>

<style>
li a {
  text-decoration: none;
}
</style>
