<template>
  <v-app id="app">
    <app-header></app-header>
    <app-menu v-if="isAuthenticated && getAuthenticatedUser"></app-menu>
    <v-container>
      <v-content>
        <app-flash-messages></app-flash-messages>
        <v-slide-x-transition mode="out-in">
          <router-view />
        </v-slide-x-transition>
      </v-content>
    </v-container>
  </v-app>
</template>

<script>
import Header from "@/components/core/Header";
import Menu from "@/components/core/Menu";
import FlashMessages from "@/components/core/FlashMessages";

import { mapGetters } from "vuex";

export default {
  name: "App",
  computed: {
    ...mapGetters("auth", ["isAuthenticated", "getAuthenticatedUser"])
  },
  components: {
    "app-header": Header,
    "app-menu": Menu,
    "app-flash-messages": FlashMessages
  }
};
</script>

<style>
</style>
