<template>
  <div id="CarAdvancedSearch">
    <v-layout row wrap justify-space-between justify-end>
      <v-flex md4 xs12 pr-4>
        <v-text-field label="Propriétaire" single-line hide-details prepend-icon="person"></v-text-field>
      </v-flex>
      <v-flex md4 xs12 pr-4>
        <v-select label="Marque" prepend-icon="directions_car"></v-select>
      </v-flex>
      <v-flex md4 xs12 pr-4>
        <v-select label="Carburant" prepend-icon="local_gas_station"></v-select>
      </v-flex>
    </v-layout>
    <v-layout row wrap justify-space-between>
      <v-flex md4 xs12 pr-4>
        <v-select label="Places" prepend-icon="airline_seat_recline_normal" :items="nbPlaces"></v-select>
      </v-flex>
      <v-flex md4 xs12 pr-4>
        <v-select label="Site de rattachement" prepend-icon="apartment"></v-select>
      </v-flex>
      <v-flex md4 xs12 pr-4>
        <v-select label="Disponibilité" prepend-icon="check"></v-select>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex md4 xs12 pr-4>
        <v-menu
          v-model="menuDateStart"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          full-width
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field v-model="dateStart" label="Du" prepend-icon="event" readonly v-on="on"></v-text-field>
          </template>
          <v-date-picker
            v-model="dateStart"
            @input="menuDateStart = false"
            locale="fr"
            color="colorOne"
          ></v-date-picker>
        </v-menu>
      </v-flex>
      <v-flex md4 xs12 pr-4>
        <v-menu
          v-model="menuDateEnd"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          full-width
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field v-model="dateEnd" label="Au" prepend-icon="event" readonly v-on="on"></v-text-field>
          </template>
          <v-date-picker
            v-model="dateEnd"
            @input="menuDateEnd = false"
            locale="fr"
            color="colorOne"
          ></v-date-picker>
        </v-menu>
      </v-flex>
      <v-flex md4 xs12 pr-4 text-xs-right>
        <v-btn color="success" dark style="text-transform: none;">
          <v-icon class="pr-2">check</v-icon>Rechercher
        </v-btn>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import Car from "@/objects/Car";

export default {
  data: () => ({
    car: new Car(),
    dateStart: null,
    dateEnd: null,
    menuDateStart: false,
    menuDateEnd: false,
    nbPlaces: [1, 2, 3, 4, 5]
  })
};
</script>

<style scoped>
</style>