<template>
  <div>
    <v-data-table
      id="list"
      :headers="headers"
      :items="carsList"
      no-data-text="Aucuns résultats ne correspond à votre recherche."
      rows-per-page-text="Lignes par pages"
      class="mi-dataTable elevation-1"
      color="info"
    >
      <template v-slot:items="props">
        <td class="text-xs-center">{{ props.item.registrationNumber }}</td>
        <td class="text-xs-center">{{ props.item.seat }}</td>
        <td class="text-xs-center">{{ props.item.model }}</td>
        <td class="text-xs-center">{{ props.item.mark }}</td>
        <td class="text-xs-center">{{ props.item.gearBox }}</td>
        <td class="text-xs-center">{{ props.item.fuel }}</td>
        <td class="text-xs-center">{{ props.item.mileage }}</td>
        <td class="text-xs-center">
          <v-icon class="mr-2" @click="editItem(props.item)" color="primary">edit</v-icon>
          <v-icon @click="deleteItem(props.item)" color="error">delete</v-icon>
        </td>
      </template>
      <template
        v-slot:pageText="props"
      >Ligne {{ props.pageStart }} à {{ props.pageStop }} sur {{props.itemsLength}}</template>
    </v-data-table>
  </div>
</template>

<script>
import CarService from "@/services/car.service";
import { mapMutations } from "vuex";

export default {
  data() {
    return {
      headers: [
        {
          text: "Immatriculation",
          align: "center",
          value: "registrationNumber",
          width: "150px"
        },
        {
          text: "Places",
          align: "center",
          value: "seat",
          width: "100px"
        },
        {
          text: "Modèle",
          value: "model",
          align: "center",
          width: "100px"
        },
        {
          text: "Marque",
          value: "mark",
          align: "center",
          width: "100px"
        },
        {
          text: "Boîte de vitesse",
          value: "gearBox",
          align: "center",
          width: "100px"
        },
        {
          text: "Carburant",
          value: "fuel",
          align: "center",
          width: "100px"
        },
        {
          text: "Kilométrage",
          value: "mileage",
          align: "center",
          width: "100px"
        },
        {
          text: "Actions",
          value: "",
          sortable: false,
          align: "center",
          width: "100px"
        }
      ]
    };
  },
  computed: {
    carsList: {
      get() {
        return this.$store.state.car.carsList;
      },
      set(value) {
        return this.$store.commit("car/setCarsList", value);
      }
    }
  },
  mounted() {
    CarService.getListCars()
      .then(response => {
        this.carsList = response.data;
      })
      .catch(exception => {
        console.error(exception);
      });
  },
  methods: {
    ...mapMutations("app", ["setFlashMessage"]),
    editItem(item) {
      this.$router.push({ path: "/save-car/" + item.id });
    },
    deleteItem(item) {
      if (confirm("Etes-vous sûr de vouloir supprimer cet élément ?")) {
        CarService.deleteCar(item.id)
          .then(response => {
            this.setFlashMessage({
              message: "Voiture supprimée avec succès !",
              type: "success",
              value: true
            });
            this.carsList.splice(this.carsList.indexOf(item), 1);
          })
          .catch(exception => {
            this.setFlashMessage({
              message: "Problème de suppression : " + exception,
              type: "error",
              value: true
            });
          });
      }
    }
  }
};
</script>

<style>
table {
  table-layout: fixed;
  width: 100%;
}

table td {
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 0px;
}

table thead {
  background-color: var(--v-colorOne-base);
}

th.column,
table thead i.v-icon {
  color: white !important;
}
</style>
