<template>
  <v-layout row>
    <v-flex xs-6 mr-3>
      <v-text-field
        v-model="quickSearch"
        prepend-icon="search"
        label="Rechercher"
        single-line
        hide-details
        @keyup.native.enter="search"
      ></v-text-field>
    </v-flex>
    <v-flex xs-3>
      <v-btn @click="search" color="success" dark style="text-transform: none;">
        <v-icon class="pr-2">check</v-icon>Valider
      </v-btn>
    </v-flex>
    <v-spacer></v-spacer>
  </v-layout>
</template>

<script>
import carService from "@/services/car.service";

export default {
  data: () => ({
    quickSearch: ""
  }),
  computed: {
    carsList: {
      get() {
        return this.$store.state.car.carsList;
      },
      set(value) {
        return this.$store.commit("car/setCarsList", value);
      }
    }
  },
  methods: {
    async search() {
      try {
        let result;
        if (this.quickSearch) {
          result = await carService.quickSearch(this.quickSearch);
        } else {
          result = await carService.getListCars();
        }
        this.carsList = result.data;
      } catch (error) {
        console.log(error);
      }
    }
  }
};
</script>

<style scoped>
</style>