<template>
  <v-form class="v-form" v-model="valid" v-if="getCurrentCar" ref="carForm">
    <v-container>
      <v-layout row wrap justify-space-between>
        <v-flex lg5 md5 sm12 xs12>
          <v-text-field
            prepend-icon="account_box"
            v-model="registrationNumber"
            :counter="20"
            :rules="registrationNumberRules"
            :maxlength="20"
            mask="NNNNNNNNNNNNNNNNNNNN"
            label="Immatriculation *"
          ></v-text-field>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-select
            prepend-icon="people"
            v-model="seat"
            :items="[1,2,3,4,5,6,7,8,9]"
            :rules="seatRules"
            clearable
            label="Nombre de places *"
          ></v-select>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-text-field prepend-icon="directions_car" v-model="mark" label="Marque"></v-text-field>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-text-field prepend-icon="directions_car" v-model="model" label="Modèle"></v-text-field>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-select
            prepend-icon="build"
            v-model="gearBox"
            :items="['Manuelle','Automatique']"
            label="Type de boîte de vitesse"
            clearable
          ></v-select>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-autocomplete
            prepend-icon="local_gas_station"
            v-model="fuel"
            :items="['Essence','Diesel','Electrique','Hybride']"
            clearable
            label="Type de carburant"
          ></v-autocomplete>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-text-field
            prepend-icon="near_me"
            v-model="mileage"
            :counter="8"
            :maxlength="8"
            label="Kilométrage"
            suffix="Km"
            @keyup="onlyNumber"
          ></v-text-field>
        </v-flex>
      </v-layout>
    </v-container>
    <v-btn :disabled="!valid" color="success" @click="saveCar">Enregistrer</v-btn>
  </v-form>
</template>

<script>
import CarService from "@/services/car.service";
import { mapMutations, mapGetters } from "vuex";

export default {
  data: () => ({
    registrationNumberRules: [
      v => !!v || "Une immatriculation est requise",
      v =>
        (v && v.length <= 20) ||
        "Une immatriculation doit faire moins de 20 caractères"
    ],
    seatRules: [v => !!v || "Un nombre de places est requis"],
    valid: true
  }),
  mounted() {
    if (this.$refs.carForm) {
      this.$refs.carForm.resetValidation();
    }
  },
  computed: {
    ...mapGetters("car", ["getCurrentCar"]),
    registrationNumber: {
      get() {
        return this.$store.state.car.currentCar.registrationNumber;
      },
      set(value) {
        return this.$store.commit("car/setRegistrationNumber", value);
      }
    },
    seat: {
      get() {
        return this.$store.state.car.currentCar.seat;
      },
      set(value) {
        return this.$store.commit("car/setSeat", value);
      }
    },
    model: {
      get() {
        return this.$store.state.car.currentCar.model;
      },
      set(value) {
        return this.$store.commit("car/setModel", value);
      }
    },
    mark: {
      get() {
        return this.$store.state.car.currentCar.mark;
      },
      set(value) {
        return this.$store.commit("car/setMark", value);
      }
    },
    gearBox: {
      get() {
        return this.$store.state.car.currentCar.gearBox;
      },
      set(value) {
        return this.$store.commit("car/setGearBox", value);
      }
    },
    fuel: {
      get() {
        return this.$store.state.car.currentCar.fuel;
      },
      set(value) {
        return this.$store.commit("car/setFuel", value);
      }
    },
    mileage: {
      get() {
        return this.$store.state.car.currentCar.mileage;
      },
      set(value) {
        return this.$store.commit("car/setMileage", value);
      }
    }
  },
  methods: {
    ...mapMutations("app", ["setFlashMessage"]),
    validate() {
      if (this.$refs.form.validate()) {
        this.snackbar = true;
      }
    },
    onlyNumber(value) {
      var reg = /[0-9]/;
      if (!reg.test(value.key)) {
        this.mileage = this.mileage.substring(0, this.mileage.length - 1);
      }
    },
    async saveCar() {
      try {
        await this.$store.dispatch("car/saveCurrentCar");
        this.setFlashMessage({
          message: "Voiture créée avec succès !",
          type: "success",
          value: true
        });
        this.$router.push("/cars-list");
      } catch (ex) {
        this.setFlashMessage({
          message: "Erreur d'enregistrement de la voiture",
          type: "error",
          value: true
        });
      }
    }
  }
};
</script>

<style>
</style>
