<template>
  <v-form v-model="valid" v-if="getCurrentUser" ref="userForm">
    <v-container>
      <v-layout row wrap justify-space-between>
        <v-flex lg5 md5 sm12 xs12>
          <v-text-field
            prepend-icon="account_circle"
            v-model="login"
            name="login"
            label="Login *"
            :maxlength="50"
            :counter="50"
            :rules="loginRules"
          ></v-text-field>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-text-field
            prepend-icon="account_box"
            v-model="lastName"
            label="Nom *"
            :maxlength="50"
            :counter="50"
            :rules="lastNameRules"
          ></v-text-field>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-text-field
            prepend-icon="account_box"
            v-model="firstName"
            label="Prénom *"
            :maxlength="50"
            :counter="50"
            :rules="firstNameRules"
          ></v-text-field>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-text-field
            prepend-icon="person_pin_circle"
            :maxlength="5"
            :counter="5"
            label="Code postal *"
            v-model="cp"
            :rules="postalCodeRules"
          ></v-text-field>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-text-field
            prepend-icon="location_city"
            :maxlength="50"
            :counter="50"
            label="Ville *"
            v-model="city"
            :rules="cityRules"
          ></v-text-field>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-text-field
            type="email"
            prepend-icon="alternate_email"
            name="email"
            :maxlength="50"
            :counter="50"
            :rules="mailRules"
            label="E-mail *"
            v-model="email"
          ></v-text-field>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-select
            label="Droit *"
            prepend-icon="assignment_ind"
            :items="authorities"
            v-model="userAuthorities[0]"
            item-text="name"
            item-value="tag"
            :rules="authoritiesRules"
          ></v-select>
        </v-flex>
      </v-layout>
    </v-container>
    <v-btn color="success" @click="CreateUser" :disabled="!valid">Enregistrer</v-btn>
  </v-form>
</template>

<script>
import axios from "axios";
import { mapMutations, mapGetters } from "vuex";
import userService from "@/services/user.service";

import User from "@/objects/User";
import constants from "@/constants";
export default {
  data: () => ({
    valid: false,
    userDTO: new User(),
    authorities: [
      { name: "Utilisateur", tag: process.env.ROLES.user },
      { name: "Administrateur", tag: process.env.ROLES.admin }
    ],
    selectedAuthoritie: null,
    // Rules
    loginRules: [v => !!v || "Le login est obligatoire."],
    lastNameRules: [v => !!v || "Le nom est obligatoire."],
    firstNameRules: [v => !!v || "Le prénom est obligatoire."],
    postalCodeRules: [v => !!v || "Le code postal est obligatoire."],
    cityRules: [v => !!v || "La ville est obligatoire."],
    mailRules: [
      email =>
        constants.MAIL_REGULAR_EXPRESSION.test(email) ||
        "L'adresse mail n'est pas correcte",
      email => !!email || "L'adresse mail est obligatoire"
    ],
    authoritiesRules: [
      authoritie => !!authoritie || "Le droit est obligatoire."
    ]
  }),
  mounted() {
    if (this.$refs.userForm) {
      this.$refs.userForm.resetValidation();
    }
  },
  computed: {
    ...mapGetters("user", ["getCurrentUser"]),
    login: {
      get() {
        return this.$store.state.user.currentUser.login;
      },
      set(value) {
        return this.$store.commit("user/setLogin", value);
      }
    },
    firstName: {
      get() {
        return this.$store.state.user.currentUser.firstName;
      },
      set(value) {
        return this.$store.commit("user/setFirstName", value);
      }
    },
    lastName: {
      get() {
        return this.$store.state.user.currentUser.lastName;
      },
      set(value) {
        return this.$store.commit("user/setLastName", value);
      }
    },
    email: {
      get() {
        return this.$store.state.user.currentUser.email;
      },
      set(value) {
        return this.$store.commit("user/setEmail", value);
      }
    },
    city: {
      get() {
        return this.$store.state.user.currentUser.city;
      },
      set(value) {
        return this.$store.commit("user/setCity", value);
      }
    },
    cp: {
      get() {
        return this.$store.state.user.currentUser.cp;
      },
      set(value) {
        return this.$store.commit("user/setCp", value);
      }
    },
    userAuthorities: {
      get() {
        return this.$store.state.user.currentUser.authorities;
      },
      set(value) {
        return this.$store.commit("user/setAuthorities", value);
      }
    }
  },
  methods: {
    ...mapMutations("app", ["setFlashMessage"]),
    async CreateUser(event) {
      try {
        if (this.getCurrentUser.id > 0) {
          await userService.modifyUser(this.getCurrentUser);
        } else {
          await userService.createUser(this.getCurrentUser);
        }
        this.setFlashMessage({
          message: "Utilisateur sauvegardé avec succès !",
          type: "success",
          value: true
        });

        this.$router.push("/users");
      } catch (ex) {
        console.error(ex);
        this.setFlashMessage({
          message:
            "Des erreurs sont présentes dans le formulaire :" + ex.message,
          type: "warning",
          value: true
        });
      }
    }
  }
};
</script>

<style>
</style>